<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="false" default-autowire="byName">
	
	<bean id="baseDao" class="com.gome.autodeploy.dao.common.BaseDao"/>
	<bean id="dictionaryDao" class="com.gome.autodeploy.dao.common.impl.DictionaryDaoImpl"/>
	<bean id="applicationDao" class="com.gome.autodeploy.dao.app.impl.ApplicationDaoImpl"/>
	<bean id="onlineDao" class="com.gome.autodeploy.dao.online.impl.OnlineDaoImpl"/>
	<bean id="deployDao" class="com.gome.autodeploy.dao.deploy.impl.DeployDaoImpl"/>
	<bean id="userDao" class="com.gome.autodeploy.dao.auth.impl.UserDaoImpl"/>
	
	<bean id="containerConfigDao" class="com.gome.autodeploy.dao.deploy.impl.ContainerConfigDaoImpl"/>
	
	<bean id="projectDao" class="com.gome.autodeploy.dao.project.impl.ProjectDaoImpl"/>
	<bean id="projectSvnDao" class="com.gome.autodeploy.dao.project.impl.ProjectSvnDaoImpl"/>
 	<bean id="projectPackageDao" class="com.gome.autodeploy.dao.project.impl.ProjectPackageDaoImpl"/>
 	
 	<bean id="appDao" class="com.gome.autodeploy.dao.app.impl.AppDaoImpl"/>
 	<bean id="appExpansionDao" class="com.gome.autodeploy.dao.app.impl.AppExpansionDaoImpl"/>
 	
 	<bean id="volumeDao" class="com.gome.autodeploy.dao.volume.impl.VolumeDaoImpl"/>
	
    
</beans>