<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="false" default-autowire="byName">
	
	<bean id="jenkinsClient" class="com.gome.passplatform.jenkins.JenkinsClient">
		<property name="endpointUrl" value="${jenkins.url}"/>
		<property name="jenkinsSecretsPath" value="${jenkins.secrets.path}"/>
		<property name="jenkinsJobRoot" value="${jenkins.root}"/>
		<property name="mavenSettings" value="${jenkins.maven.settings}"/>
	</bean>
    
</beans>